In [2]:
import csv
import pandas as pd

# 지하철 노선별 역별 승하차 승객수

In [3]:
subway = pd.read_csv("data/SUBWAY_202109.csv")
subway.head()

         사용일자        노선명     역명  승차총승객수    하차총승객수  등록일자
20210901  4호선    동작(현충원)   1929    1999  20210904   NaN
20210901  4호선  총신대입구(이수)  17219   18876  20210904   NaN
20210901  4호선         사당  21027   17484  20210904   NaN
20210901  4호선        남태령   1089     986  20210904   NaN
20210901  4호선        당고개  11684   10696  20210904   NaN

In [4]:
subway.tail()

              사용일자   노선명     역명  승차총승객수    하차총승객수  등록일자
20210930       9호선   신논현  28562   28302  20211003   NaN
20210930  9호선2~3단계    언주   9859   10044  20211003   NaN
20210930  9호선2~3단계   선정릉   9308   10135  20211003   NaN
20210930  9호선2~3단계  삼성중앙   6389    6552  20211003   NaN
20210930  9호선2~3단계   봉은사  14768   15040  20211003   NaN

In [5]:
subway.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18048 entries, 20210901 to 20210930
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   사용일자    18048 non-null  object
 1   노선명     18048 non-null  object
 2   역명      18048 non-null  int64
 3   승차총승객수  18048 non-null  int64
 4   하차총승객수  18048 non-null  int64
 5   등록일자    0 non-null      float64
dtypes: float64(1), int64(3), object(2)
memory usage: 987.0+ KB

In [6]:
print('2021-09 서울시 지하철 승하차 총승객수 통계값\n')
print(subway['승차총승객수'].describe(), '\n')
print(subway['하차총승객수'].describe())

2021-09 서울시 지하철 승하차 총승객수 통계값

count    18048.000000
mean      8593.130873
std       8728.262950
min          0.000000
25%       2772.000000
50%       5953.000000
75%      11257.250000
max      77124.000000
Name: 승차총승객수, dtype: float64

count    1.804800e+04
mean     2.021093e+07
std      2.655120e+01
min      2.021090e+07
25%      2.021091e+07
50%      2.021092e+07
75%      2.021093e+07
max      2.021100e+07
Name: 하차총승객수, dtype: float64

# S-DoT 도시데이터 센서

In [7]:
walk = pd.read_csv("data/S-DoT_WALK_2020.09.28-10.04.csv", encoding='cp949')
walk.head()

,기관 명,송신 서버 번호,데이터 번호,모델명,시리얼,서버타입,사이트명,방문자수,날짜,등록일자
0,서울시,32,1,SDOT001,2994,00Original,2994,0000000122,202009272340,2020-09-28 00:01:09
1,서울시,32,1,SDOT001,2993,00Original,2993,0000000164,202009272340,2020-09-28 00:01:09
2,서울시,32,1,SDOT001,2992,00Original,2992,0000000214,202009272340,2020-09-28 00:01:09
3,서울시,32,1,SDOT001,2995,00Original,2995,0000000178,202009272340,2020-09-28 00:01:10
4,서울시,32,1,SDOT001,2999,00Original,2999,0000000087,202009272340,2020-09-28 00:01:11

In [8]:
walk.tail()

,기관 명,송신 서버 번호,데이터 번호,모델명,시리얼,서버타입,사이트명,방문자수,날짜,등록일자
49756,서울시,32,1,SDOT001,3037,00Original,3037,0000000054,202010042330,2020-10-04 23:52:43
49757,서울시,32,1,SDOT001,3038,00Original,3038,0000000161,202010042330,2020-10-04 23:52:44
49758,서울시,32,1,SDOT001,3039,00Original,3039,0000000174,202010042330,2020-10-04 23:52:44
49759,서울시,32,1,SDOT001,3041,00Original,3041,0000000156,202010042330,2020-10-04 23:52:44
49760,서울시,32,1,SDOT001,3040,00Original,3040,0000000141,202010042330,2020-10-04 23:52:44

In [9]:
walk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49761 entries, 0 to 49760
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   기관 명      49761 non-null  object
 1   송신 서버 번호  49761 non-null  int64
 2   데이터 번호    49761 non-null  int64
 3   모델명       49761 non-null  object
 4   시리얼       49761 non-null  int64
 5   서버타입      49761 non-null  object
 6   사이트명      49761 non-null  int64
 7   방문자수      49761 non-null  object
 8   날짜        49761 non-null  int64
 9   등록일자      49761 non-null  object
dtypes: int64(5), object(5)
memory usage: 3.8+ MB

# 한강공원 주차장 월별 이용 현황

In [10]:
parkinglot = pd.read_csv("data/한강공원 주차장 월별 이용 현황.csv", encoding='cp949')
parkinglot.head()

       지구별     주차장명   주차대수     이용시간       날짜
0  PLT-005   뚝섬4주차장    708    68086  2021/10
1  PLT-007   양화2주차장    834    69036  2021/10
2  PLT-007   양화2주차장   1019    83361  2021/10
3  PLT-003  망원23주차장  11415  1112191  2021/10
4  PLT-007   양화1주차장   3928   390477  2021/10

In [11]:
parkinglot.tail()

           지구별     주차장명   주차대수     이용시간       날짜
28491  PLT-008  여의도5주차장   2805   860432  2020/01
28492  PLT-009  반포23주차장  23590  1200177  2020/01
28493  PLT-003  망원23주차장   1382   231375  2020/01
28494  PLT-005   뚝섬1주차장   1529   379777  2020/01
28495  PLT-004   이촌2주차장   3002   144936  2020/01

In [12]:
parkinglot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28496 entries, 0 to 28495
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지구별     28496 non-null  object
 1   주차장명    28496 non-null  object
 2   주차대수    28496 non-null  int64
 3   이용시간    28496 non-null  int64
 4   날짜      28496 non-null  object
dtypes: int64(2), object(3)
memory usage: 1.1+ MB

In [14]:
sr = {'2021/10':0, '2021/09':0, '2021/08':0, '2021/07':0, \
     '2021/06':0, '2021/05':0, '2021/04':0, \
     '2021/03':0, '2021/02':0, '2021/01':0, \
     '2020/12':0, '2020/11':0, '2020/10':0}

s, e = 0, 0
for date in sr.keys():
    while parkinglot['날짜'][e] == date:
        e += 1
    sr[date] = parkinglot['주차대수'][s:e].sum()
    s = e
sr = pd.Series(sr)
sr

2021/10     4114534
2021/09    29625119
2021/08    33424837
2021/07    39471030
2021/06    48143214
2021/05    45453366
2021/04    46669716
2021/03    39042486
2021/02    33179814
2021/01    29960280
2020/12    32647266
2020/11    31146444
2020/10    38565126
dtype: int64